<div id="ludo_main">
    <div class="ludo_screen_conent">

        <div *ngIf="blue?.army && pixel">
            <span (click)="move(goti)" *ngFor="let goti of blue.army;let index=index" src="assets/{{goti.color}}.png" class="goti"
                [style.top]="goti.top" [style.left]="goti.left" width="{{pixel}}px" height="{{pixel}}px"
                [ngClass]="{'chance': canMove(goti)}">
                <img src="assets/{{goti.color}}.png"/>
                <span class="pointer"></span>
            </span>
        </div>
        <div *ngIf="red?.army">
            <span (click)="move(goti)" *ngFor="let goti of red.army;let index=index" src="assets/{{goti.color}}.png" class="goti"
                [style.top]="goti.top" [style.left]="goti.left" width="{{pixel}}px" height="{{pixel}}px"
                [ngClass]="{'chance': canMove(goti)}">
                <img src="assets/{{goti.color}}.png"/>
                <span class="pointer"></span>
            </span>
        </div>
        <div *ngIf="green?.army">
            <span (click)="move(goti)" *ngFor="let goti of green.army;let index=index" src="assets/{{goti.color}}.png" class="goti"
                [style.top]="goti.top" [style.left]="goti.left" width="{{pixel}}px" height="{{pixel}}px"
                [ngClass]="{'chance': canMove(goti)}">
                <img src="assets/{{goti.color}}.png"/>
                <span class="pointer"></span>
            </span>
        </div>
        <div *ngIf="yellow?.army">
            <span (click)="move(goti)" *ngFor="let goti of yellow.army;let index=index" src="assets/{{goti.color}}.png" class="goti"
                [style.top]="goti.top" [style.left]="goti.left" width="{{pixel}}px" height="{{pixel}}px"
                [ngClass]="{'chance': canMove(goti)}">
                <img src="assets/{{goti.color}}.png"/>
                <span class="pointer"></span>
            </span>
        </div>


        <!-- ludo Top-->
        <div class="ludo_d_top">
            <div class="ludo_d_top_box player_board plyr_top_1" data-board-id="1">
                <div class="player_board_white" [ngClass]="{'flash':chance=='red'}">
                    <span id="red0" class="bgcircle"></span>
                    <span id="red1" class="bgcircle"></span>
                    <span id="red2" class="bgcircle"></span>
                    <span id="red3" class="bgcircle"></span>
                </div>
            </div>
            <div class="ludo_d_top_box players_path ludotops">
                <div class="ludo_d_top_box_clmn_m column_main">
                    <div class="column" id="t24"></div>
                    <div class="column" id="t25"></div>
                    <div class="column" id="t26"></div>
                    <div class="column" id="t23"></div>
                    <div class="column safe" id="green52"></div>
                    <div class="column safe" id="t27"></div>
                    <div class="column" id="t22"></div>
                    <div class="column safe" id="green53"></div>
                    <div class="column" id="t28"></div>
                    <div class="column" id="t21"></div>
                    <div class="column safe" id="green54"></div>
                    <div class="column" id="t29"></div>
                    <div class="column" id="t20"></div>
                    <div class="column safe" id="green55"></div>
                    <div class="column" id="t30"></div>
                    <div class="column" id="t19"></div>
                    <div class="column safe" id="green56"></div>
                    <div class="column" id="t31"></div>
                </div>
            </div>
            <div class="ludo_d_top_box player_board plyr_top_2" data-board-id="2">
                <div class="player_board_white" [ngClass]="{'flash':chance=='green'}">
                    <span id="green1" class="bgcircle"></span>
                    <span id="green2" class="bgcircle"></span>
                    <span id="green3" class="bgcircle"></span>
                    <span id="green0" class="bgcircle"></span>
                </div>
            </div>
        </div>

        <!-- ludo Mid-->
        <div class="ludo_d_mid">

            <div class="ludomids ludo_d_mid_box_left players_path ">
                <div class="ludo_d_mid_box_clmn_m column_main">
                    <div class="column" id="t13"></div>
                    <div class="column safe" id="t14"></div>
                    <div class="column" id="t15"></div>
                    <div class="column" id="t16"></div>
                    <div class="column" id="t17"></div>
                    <div class="column" id="t18"></div>

                    <div class="column" id="t12"></div>
                    <div class="column safe" id="red52"></div>
                    <div class="column safe" id="red53"></div>
                    <div class="column safe" id="red54"></div>
                    <div class="column safe" id="red55"></div>
                    <div class="column safe" id="red56"></div>

                    <div class="column" id="t11"></div>
                    <div class="column" id="t10"></div>
                    <div class="column" id="t9"></div>
                    <div class="column" id="t8"></div>
                    <div class="column" id="t7"></div>
                    <div class="column" id="t6"></div>
                </div>
            </div>
            <div id="EndSteps" class="finalStage_main">
                <div class="column" id="f"></div>
                <div class="column" id="green"></div>
                <div class="column" id="f"></div>
                <div class="column" id="red"></div>
                <div class="column" id="finish"></div>
                <div class="column" id="yellow"></div>
                <div class="column" id="f"></div>
                <div class="column" id="blue"></div>
                <div class="column" id="f"></div>
            </div>
            <div class="ludomids ludo_d_mid_box_right players_path ">
                <div class="ludo_d_mid_box_clmn_m column_main">
                    <div class="column" id="t32"></div>
                    <div class="column" id="t33"></div>
                    <div class="column" id="t34"></div>
                    <div class="column" id="t35"></div>
                    <div class="column" id="t36"></div>
                    <div class="column" id="t37"></div>
                    <div class="column safe" id="yellow56"></div>
                    <div class="column safe" id="yellow55"></div>
                    <div class="column safe" id="yellow54"></div>
                    <div class="column safe" id="yellow53"></div>
                    <div class="column safe" id="yellow52"></div>
                    <div class="column" id="t38"></div>
                    <div class="column" id="t44"></div>
                    <div class="column" id="t43"></div>
                    <div class="column" id="t42"></div>
                    <div class="column" id="t41"></div>
                    <div class="column safe" id="t40"></div>
                    <div class="column" id="t39"></div>
                </div>
            </div>

        </div>

        <!-- ludo Bottom-->
        <div class="ludo_d_bottom">
            <div class="ludo_d_bottom_box player_board plyr_top_3" data-board-id="3">
                <div class="player_board_white" [ngClass]="{'flash':chance=='blue'}">
                    <span id="blue0" class="bgcircle"></span>
                    <span id="blue1" class="bgcircle"></span>
                    <span id="blue2" class="bgcircle"></span>
                    <span id="blue3" class="bgcircle"></span>
                </div>
            </div>
            <div class="ludo_d_bottom_box players_path ludotops">
                <div class="ludo_d_top_box_clmn_m column_main">
                    <div class="column" id="t5"></div>
                    <div class="column safe" id="blue56"></div>
                    <div class="column" id="t45"></div>
                    <div class="column" id="t4"></div>
                    <div class="column safe" id="blue55"></div>
                    <div class="column" id="t46"></div>
                    <div class="column" id="t3"></div>
                    <div class="column safe" id="blue54"></div>
                    <div class="column" id="t47"></div>
                    <div class="column" id="t2"></div>
                    <div class="column safe" id="blue53"></div>
                    <div class="column" id="t48"></div>
                    <div class="column safe " id="t1"></div>
                    <div class="column safe" id="blue52"></div>
                    <div class="column" id="t49"></div>
                    <div class="column" id="t52"></div>
                    <div class="column" id="t51"></div>
                    <div class="column" id="t50"></div>
                </div>
            </div>
            <div class="ludo_d_bottom_box player_board plyr_top_4" data-board-id="4">
                <div class="player_board_white" [ngClass]="{'flash':chance=='yellow'}">
                    <span id="yellow0" class="bgcircle"></span>
                    <span id="yellow1" class="bgcircle"></span>
                    <span id="yellow2" class="bgcircle"></span>
                    <span id="yellow3" class="bgcircle"></span>
                </div>
            </div>
        </div>


        <ol id="die" (click)="rollTheDice()" class="die-list even-roll" data-roll="1">
                <li class="die-item {{chance}}" data-side="1">
                    <span class="dot"></span>
                </li>
                <li class="die-item {{chance}}" data-side="2">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </li>
                <li class="die-item {{chance}}" data-side="3">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </li>
                <li class="die-item {{chance}}" data-side="4">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </li>
                <li class="die-item {{chance}}" data-side="5">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </li>
                <li class="die-item {{chance}}" data-side="6">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </li>
                </ol>

    </div>
</div>

<a (click)="rollTheDice()">DICE</a>{{diceNumber}}
<a (click)="nextChance()">nextChance</a>{{chance}}
<input [(ngModel)]="diceNumber" />
==>{{pixel}}<== <pre>{{blue.army | json}}</pre>